
@import '../globle-scss/variables';
@import './popup';
.navbar{
    padding: 0px 30px 0px 30px !important;
    border-bottom: 1px solid darken($theme4, 12.5);
    position: relative;
    z-index: 100;
    &>div{
        position: relative;
    }
    & .navbar-brand {
        height: 20px;
        display: inline-flex;
        padding: 0px;
        align-items: center;
        & img {
            height: 100%;
            max-width: 210px;
            object-fit: contain;
        }
    }
    & .navbar-toggler {
        width: 32px;
        height: 32px;
        border: none;
        border-radius: 0px;
        padding: 0px;
        outline: none;
        box-shadow: none !important;
        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    & .navbar-nav {
        column-gap: 60px;
        padding-left: 120px;
        & .nav-item {
            & .nav-link {
                font-size: var(--fs-18);
                font-weight: var(--fw-600);
                line-height: 21px;
                color: $black;
                padding: 36px 21px 36px 0px;
                transition: var(--ease-in-out);
                &:hover{
                    color: $theme1;
                }
            }
            &.dropdown{
                & .nav-link{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-image: url(../images/icon/down-arrow.svg);
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-position: center bottom 1px;
                        background-size: contain;
                        transition: var(--ease-in-out) !important;
                    }
                    &:hover{
                        &::before{
                            background-image: url('data:image/svg+xml,<svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_1052_302)"><path d="M1 1.5L5 5.5L9 1.5" stroke="%23930043" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1052_302"><rect width="10" height="7" fill="white"/></clipPath></defs></svg>');
                        }
                    }
                }
                & .sub-menu {
                    position: absolute;
                    top: calc(100% + 1px);
                    left: 0;
                    padding: 10px;
                    background-color: $white;
                    border-radius: 0px;
                    min-width: 200px;
                    box-shadow: 0px 5px 20px 0px rgba($black,0.05);
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(20px);
                    transition: var(--ease-in-out);
                    & .menu-item {
                        padding: 10px 15px;
                        color: $black;
                        display: block;
                        font-size: var(--fs-14);
                        font-weight: var(--fw-500);
                        width: 100%;
                        &:hover{
                            color: $theme1;
                        }
                    }
                }
                &:hover{
                    & .sub-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0px);
                    }
                }
                &.big-nav{
                    position: unset;
                    & .sub-menu{
                        max-width: 1280px;
                        width: 100%;
                        left: 50%;
                        transform: translate(-50%, 20px);
                        background-color: $theme4;
                        padding: 0px;
                        display: flex;
                        & .nav-pills{
                            align-self: self-start;
                            & .nav-item{
                                flex: 1 1 0;
                                // width: 230px;
                                & .nav-link {
                                    width: 100%;
                                    padding: 18px 25px 18px 15px;
                                    border-radius: 0px;
                                    font-size: var(--fs-16);
                                    text-align: start;
                                    border-bottom: 1px solid rgba($black,0.05);
                                    transition: all ease-in-out 0s;
                                    &::before{
                                        display: none;
                                    }
                                    &::after{
                                        content: '';
                                        position: absolute;
                                        left: unset;
                                        right: -10px;
                                        height: 20px;
                                        width: 20px;
                                        border: none;
                                        bottom: 0;
                                        top: 50%;
                                        transform: translateY(-50%) rotate(45deg);
                                        background-color: $theme3;
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                    &:hover, &.active{
                                        background-color: $theme3;
                                        color: $white;
                                        &::after{
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                        & .tab-content {
                            padding: 20px 30px;
                            background-color: $white;
                            flex: 1 1 0;
                            & .tab-link-group {
                                & .find-service-nav {
                                    &>li{
                                        margin: 0px 0px 8px;
                                        padding-bottom: 22px;
                                        border-bottom: 1px solid rgba($black,0.05);
                                        position: relative;
                                        &::before{
                                            content: '';
                                            position: absolute;
                                            bottom: 16px;
                                            width: 50px;
                                            height: 2px;
                                            background-color: $theme1;
                                            left: 0;
                                        }
                                        & a {
                                            text-transform: uppercase;
                                            font-size: var(--fs-16);
                                            line-height: 20px;
                                            letter-spacing: .13em;
                                            color: $theme1;
                                            font-weight: var(--fw-700);
                                            width: fit-content;
                                            padding: 0px;
                                            font-family: var(--font-oswald);
                                        }
                                    }
                                    & ul{
                                        &:not(:last-child){
                                            margin-bottom: 50px;
                                        }
                                    }
                                }
                            }
                            & .nav-list {
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                column-gap: 10px;
                                & li {
                                    & .menu-item {
                                        padding: 10px 0px;
                                        text-transform: capitalize;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        & .sub-menu{
                            transform: translate(-50%, 0px);
                        }
                    }
                }
            }
        }
    }
    & .right-side-nav {
        gap: 30px;
    }
}

.searchBox {
    position: relative;
    background-color: $theme4;
    & .form-control{
        border-radius: 0px;
        border: none;
        box-shadow: none !important;
        padding: 17px 50px 16px 15px;
        background-color: transparent !important;
        font-size: var(--fs-14);
        font-weight: var(--fw-400);
        line-height: 17px;
    }
    & .list, & .search {
        position: absolute;
    }
    & .list {
        position: absolute;
        top: 100%;
        width: 100%;
        list-style: none;
        height: 0px;
        transition: var(--ease-in-out);
        overflow: hidden;
        max-height: 220px;
        background-color: darken($theme4, 3.1);
        box-shadow: 0px 5px 20px 0px rgba($black,0.05);
        z-index: 10;
        & li {
            & a {
                display: block;
                padding: 15px;
                font-size: var(--fs-14);
                line-height: 1;
                cursor: pointer;
                transition: var(--ease-in-out);
                color: $black;
                &:hover{
                    background-color: $theme3;
                    color: $white !important;
                }
            }
        }
    }
    & .search {
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        background-color: transparent;
    }
    &.active{
        & .list{
            height: auto;
            overflow: hidden auto;
        }
    }
}
// ---- Responsive------------
@media screen and (min-width: 1600px){
    .navbar{
        & .navbar-nav {
            & .nav-item {
                &.dropdown{
                    &.big-nav{
                        & .sub-menu{
                            & .tab-content {
                                & .nav-list {
                                    display: grid;
                                    grid-template-columns: repeat(4, 1fr);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .searchBox  {
        width: 400px;
    }
}
@media screen and (max-width: 1440px) {
    .navbar{
        & .navbar-nav {
            column-gap: 18px;
            padding-left: 35px;
        }
        & .right-side-nav {
            gap: 15px;
        }
    }
}
@media screen and (max-width: 1300px) and (min-width: 1200px) {
    .navbar{
        padding: 0px 20px !important;
        & .navbar-nav {
            padding-left: 20px;
        }
        & .right-side-nav {
            gap: 15px;
        }
    }
}
@media screen and (max-width: 1199.98px) {
    .navbar{
        & .navbar-brand {
            height: 18px;
        }
        & .navbar-nav {
            padding-left: 20px;
            & .nav-item {
                &.dropdown{
                    &.big-nav{
                        & .sub-menu{
                            & .nav-pills{
                                & .nav-item{
                                    // width: 200px;
                                    & .nav-link{
                                        padding: 14px 25px 14px 15px;
                                        &::after{
                                            right: -9px;
                                            height: 18px;
                                            width: 18px;
                                        }
                                    }
                                }
                            }
                            & .tab-content {
                                & .nav-list {
                                    grid-template-columns: repeat(2, 1fr);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .navbar{
        padding: 15px 20px !important;
        & .navbar-brand {
            height: 16px;
        }
        & .offcanvas-header {
            border-bottom: 1px solid darken($theme4, 12.5);
            & .offcanvas-title {
                height: 16px;
                display: flex;
                & img{
                    height: 100%;
                }
            }
        }
        & .navbar-nav {
            gap: 10px;
            padding-left: 0px;
            & .nav-item {
                display: block;
                width: 100%;
                & .nav-link{
                    padding: 15px 40px 15px 15px;
                    border-radius: 4px;
                    background: $theme4;
                }
                &.dropdown, &.dropdown.big-nav{
                    & .sub-menu {
                        display: none;
                        position: unset;
                        transform: unset;
                        box-shadow: none !important;
                        border-radius: 0px 0px 10px 10px;
                    }
                    &.show{
                        & .nav-link{
                            background-color: darken($white, 5);
                            border-radius: 10px 10px 0px 0px;
                        }
                        & .sub-menu{
                            border-top: 1px solid darken($white, 10);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                &.dropdown{
                    & .nav-link{
                        &::before{
                            right: 15px;
                        }
                    }
                    &.show{
                        & .sub-menu{
                            display: block;
                            background-color: lighten($theme4, 1);
                        }
                    }
                    & .sub-menu{
                        & .menu-item {
                            line-height: 18px;
                        }
                    }
                    &.big-nav{
                        & .sub-menu{
                            & .tab-content {
                                padding: 20px 20px 20px 40px;
                                background-color: transparent;
                            }
                        }
                        &:hover{
                            & .sub-menu{
                                transform: unset;
                            }
                        }
                        &.show{
                            & .sub-menu{
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
        & .right-side-nav {
            gap: 10px;
            margin-top: 40px;
            & .btn{
                flex: 0 0 auto;
                width: calc(50% - 5px);
            }
        }
        & .offcanvas{
            width: 100% !important;
        }
        & .offcanvas-body {
            padding: 20px !important;
        }
    }
}
@media screen and (max-width: 767px) {
    .navbar{
        & .navbar-nav {
            & .nav-item {
                &.dropdown{
                    &.big-nav{
                        & .sub-menu{
                            & .nav-pills{
                                & .nav-item{
                                    // width: 160px;
                                    & .nav-link{
                                        padding: 12px 20px 12px 12px;
                                        font-size: var(--fs-14);
                                        &::after{
                                            right: -7px;
                                            height: 14px;
                                            width: 14px;
                                        }
                                    }
                                }
                            }
                            & .tab-content {
                                padding: 15px 15px 15px 25px;
                                & .tab-link-group {
                                    & .find-service-nav {
                                        & ul{
                                            &:not(:last-child){
                                                margin-bottom: 40px;
                                            }
                                        }
                                    }
                                }
                                & .nav-list {
                                    grid-template-columns: repeat(1, 1fr);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .navbar{
        & .navbar-nav{
            & .nav-item {
                & .nav-link{
                    font-size: var(--fs-16);
                }
                &.dropdown{
                    &.big-nav{
                        & .sub-menu{
                            & .nav-pills{
                                & .nav-item{
                                    & .nav-link{
                                        padding: 12px 14px 12px 12px;
                                        font-size: 13px;
                                    }
                                }
                            }
                            & .tab-content {
                                & .nav-list {
                                    & li {
                                        & .menu-item{
                                            font-size: 13px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        & .offcanvas-body {
            padding: 10px !important;
        }
    }
}
@media screen and (max-width: 400px) {
    .navbar{
        & .navbar-nav {
            & .nav-item {
                &.dropdown{
                    &.big-nav{
                        & .sub-menu{
                            & .nav-pills{
                                & .nav-item{
                                    width: 140px;
                                    & .nav-link{
                                        font-size: 13px;
                                        padding: 10px;
                                    }
                                }
                            }
                            & .tab-content {
                                padding: 10px 10px 10px 20px;
                                & .nav-list {
                                    & li{
                                        & .menu-item {
                                            padding: 7px 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & .sub-menu{
                        & .menu-item{
                            font-size: 13px;
                            padding: 7px 5px;
                        }
                    }
                }
            }
        }
        & .right-side-nav {
            gap: 10px;
            margin-top: 40px;
            flex-direction: column;
            & .btn{
                flex: 0 0 auto;
                width: 100%;
            }
        }
    }
}