.btn, .themebtn {
    border-radius: 0px;
    border-width: 1px;
    padding: 15px 30px;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    white-space: nowrap;
    line-height: 18px;
    text-align: center;
    box-shadow: none;
    transition: var(--ease-in-out);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-transform: uppercase;
    & .btn-icon {
        width: 22px;
        height: 22px;
        display: flex;
    }
}

.btn.btn-white{
    background-color: $white;
    color: $theme1;
    &:hover{
        background-color: darken($white, 2);
    }
}


// vist-btn CSS
.vist-btn {
    display: inline-flex;
    align-items: center;
    gap: 11px;
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    line-height: 19px;
    color: $theme5;
    & span {
        animation: slide2 1s ease-in-out infinite;
        transition: all .4s ease-in-out;
        & svg path {
            transition: var(--ease-in-out);
        }
    }
    &:hover{
        color: $theme1;
        & span {
            & svg path {
                stroke: $theme1 !important;
            }
        }
    }
    @keyframes slide2 {
        0% , 100% {
            transform: translate(3px, 0);
        }
    
        50% {
            transform: translate(0, 0);
        }
    }
}